<header id="top" class="masthead d-flex align-items-center">
    <div class="pyro">
        <div class="before"></div>
        <div class="after"></div>
      </div>

    <div class="container px-4 px-lg-5 text-center" >
        <h2 class="mb-1" data-aos="fade-right" data-aos-delay="400"  data-aos-offset="300" style="color: rgb(235, 106, 192);" >
           Here's a bouquet of happiness for you
        </h2>
        <h2 class="mb-5" style="color: rgb(241, 121, 121);"><em>Love, Life and More</em></h2>

       
  
        
      
    </div>
    <div>
        <marquee behavior="" direction=""><img src="assets/images/bday/suchi.png" alt=""></marquee>
    </div>
</header>
