<section id="wishes" class="why-us">
    <div class="container" data-aos="fade-up">

        <div class="row">
            
            <div class="col-lg-12 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch">
                           
                            <div class="icon-box mt-4 mt-xl-0">
                                <a href="https://www.facebook.com/ritaja.ghosh.1" target="_blank" class="more-btn"> 
                                    <div  class="avatar" [ngStyle]="{'background-image': 'url(' + avatar.ritja + ')','background-size': 'cover'}"></div>
                                </a>
                                <h4 style="padding-top: 50px;">Ritaja</h4>
                                <p>
                                    Happiest Birthday my girl...loads and loads of love to you I wish all the happiness,good health and success in the coming year and always
                                    তোর জীবন আনন্দে ও ইতিবাচকতায় ভরে উঠুক, অনেক ভালো থাক, আর মানসিকভাবে স্বাধীন হ, সব সময় ঋতজা ঋতজা করে আমার মাথা কম খা  শক্ত হাতে হাল ধরে আত্মবিশ্বাসের পালে হাওয়া দিয়ে জীবনের তরী তর তর করে চালিয়ে নিয়ে যা, আমাদের বন্ধুত্ব শাস্বত, কখনই মনে এমন ভাবনা আনবি না যে আমি তোর থেকে দুরে চলে গিয়েছি।  সময়ের সাথে অনেক কিছু
                                    পরিবর্তন হয় ঠিকই কিন্তু বন্ধুত্ব অটুট থাকে, মনের ব্যাপ্তি এতটাই প্রশস্ত যে তাতে সকলের জন্য আলাদা করে জায়গা রাখা সম্ভব, কারোর জায়গা কেউ নিতে পারে না। তাই কখনই এমন ভাববি না, কখনই হতাশ হবি না, খুব খুব আনন্দে থাক ও ভালো থাক ও ভালো রাখ, প্রত্যেকটা মূহুর্ত নিজের মতো করে অতিবাহিত কর  , always love you muaaaaaaa
                                </p>
                            </div>
                           
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                           
                            <div class="icon-box mt-4 mt-xl-0">
                                <a href="https://www.facebook.com/mou.podder.9231" target="_blank" class="more-btn"> 
                                    <div  class="avatar" [ngStyle]="{'background-image': 'url(' + avatar.mou + ')','background-size': 'cover'}"></div>
                                </a>
                                <h4 style="padding-top: 50px;">Moudi</h4>
                                <p>
                                   Happy Birthday suchismita....Many Many happy returns of the day valo thakis
                                </p>
                            </div>
                           
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <a href="https://www.facebook.com/anirban.roy.31924792" target="_blank" class="more-btn"></a>
                                <div  class="avatar" [ngStyle]="{'background-image': 'url(' + avatar.anirban + ')','background-size': 'cover'}"></div>
                                <h4 style="padding-top: 50px;">Anirban</h4>
                                <p>
                                    Happy birthday to my crazy,fun,fabulous best friend!I love you to
                                    the moon and back and am so greatful for your friendship and all 
                                    fun times We've shared this year.I hope you have a great day!
                                </p>
                            </div>
                        </div>
                       
                        
                    </div>
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                 <a href="https://www.facebook.com/rumila.dey.75" target="_blank" class="more-btn"> </a>
                                 <div  class="avatar" [ngStyle]="{'background-image': 'url(' + avatar.rumila + ')','background-size': 'cover'}"></div>
                                <h4 style="padding-top: 50px;">Rumila</h4>
                                <p>
                                    Happy birthday suchismita..❤❤❤ ...খুব ভালো থাকিস..কোন সমস্যা হলে আছি, কোন চাপ নিবি না সেই নিয়ে..অনেক অনেক বড়ো হ ...বিয়ে কর তাড়াতাড়ি, আমরা মজা করে খাই...Many many happy returns of the day ❤❤❤❤😍 ...
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                 <a href="https://www.facebook.com/rumila.dey.75" target="_blank" class="more-btn"> </a>
                                 <div  class="avatar" [ngStyle]="{'background-image': 'url(' + avatar.salini + ')','background-size': 'cover'}"></div>
                                <h4 style="padding-top: 50px;">Salini</h4>
                                <p>
                                    Happy Birthday Suchismita Vai❤️🥳🍰... StaySafe_StayBlessed😇.. Always Arkm E Thakis Hasi Khusi.. Onek Din Dekha Hyna Tai Amdr Opore Khichkate o Par6is Na Ami Bujhte Par6i Bondhu🤣... No Chap Amdr Abr Dekha Hbe Tr Sai Pochonder Gan Ta Amra Abr Gaibo(Ami 16 Pereye Ga6i🤣🤭)... Trt Nia Ki R Blbo ChupChap Trt Ta Dia Dis.. 
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                 <a href="https://www.facebook.com/rumila.dey.75" target="_blank" class="more-btn"> </a>
                                 <div  class="avatar" [ngStyle]="{'background-image': 'url(' + avatar.ahana + ')','background-size': 'cover'}"></div>
                                <h4 style="padding-top: 50px;">Ahana</h4>
                                <p>
                                    Hey
                                    Darling Its your special  day 💕  happy birthday 🎂🍫🎊many many happy returns of the day ❤️🎉🎊. I wish  you love, hope ,everlasting joy and happiness. Enjoy your day 💃. May all your dreams come true ✨ stay safe 😷and god bless u 😘
                                    Khub khub  valo thak  ❤️enjoy kor ☺️🤘 ar treat ta  🤨again happy birthday suchismita 😘
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <div  class="avatar" [ngStyle]="{'background-image': 'url(' + avatar.didi + ')','background-size': 'cover'}"></div>
                                <a href="https://www.facebook.com/rumila.dey.75" target="_blank" class="more-btn"> </a>
                                <h4 style="padding-top: 50px;">Didi</h4>
                                <iframe height="315" [src]='safeURL' frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                           
                            <div class="icon-box mt-4 mt-xl-0">
                                <a href="https://www.facebook.com/mou.podder.9231" target="_blank" class="more-btn"> 
                                    <div  class="avatar" [ngStyle]="{'background-image': 'url(' + avatar.debjanimiss + ')','background-size': 'cover'}"></div>
                                </a>
                                <h4 style="padding-top: 50px;">Debjani miss</h4>
                                <p>
                                    Happy birthday my little girl 👧💗💓birthday 🎂🥳
                                </p>
                            </div>
                           
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                           
                            <div class="icon-box mt-4 mt-xl-0">
                                <a href="https://www.facebook.com/mou.podder.9231" target="_blank" class="more-btn"> 
                                    <div  class="avatar" [ngStyle]="{'background-image': 'url(' + avatar.sreyo + ')','background-size': 'cover'}"></div>
                                </a>
                                <h4 style="padding-top: 50px;">Sreyoshi</h4>
                                <p>
                                    Happy birthday to u vai ! Many many happy returns of the day such ! Valo thak sukhe thak r khitkhitani ta ektu komaa !! God bless u .. R treat dite vulis naa !! 😘
                                </p>
                            </div>
                           
                        </div>
                        

                    </div>
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <a href="https://www.facebook.com/rumila.dey.75" target="_blank" class="more-btn">
                                    <div class="avatar" [ngStyle]="{'background-image': 'url(' + avatar.piyali + ')','background-size': 'cover'}"></div>
                                </a>
                                <h4 style="padding-top: 50px;">Piyalimiss</h4>
                                <img src="assets/images/bday/piyalimiss.jpg" alt="" width="380px">
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <a href="https://www.facebook.com/mou.podder.9231" target="_blank" class="more-btn"> 
                                    <div  class="avatar" [ngStyle]="{'background-image': 'url(' + avatar.piyali + ')','background-size': 'cover'}"></div>
                                </a>
                                <h4 style="padding-top: 50px;">Piyali miss</h4>
                                <img src="assets/images/bday/piyalimiss2.jpg" alt="" width="380px">
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <a href="https://www.facebook.com/mou.podder.9231" target="_blank" class="more-btn"> 
                                    <div  class="avatar" [ngStyle]="{'background-image': 'url(' + avatar.piyali + ')','background-size': 'cover'}"></div>
                                </a>
                                <h4 style="padding-top: 50px;">Piyali miss</h4>
                                <img src="assets/images/bday/piyalimis3.jpg" alt="" width="380px">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <a href="https://www.facebook.com/rumila.dey.75" target="_blank" class="more-btn">
                                    <div class="avatar" [ngStyle]="{'background-image': 'url(' + avatar.sukanta + ')','background-size': 'cover'}"></div>
                                </a>
                                <h4 style="padding-top: 50px;">Sukanta Hui</h4>
                                <p>
                                    তোকে ব্যক্তিগত ভাবে চিনি না, কিন্তু চিনি, ঋতজার বাল্যবন্ধু, তোর কথা বিভিন্ন সময়ে শুনে তোকে এখন চিনি, যার জন্য ঋতজা একটা কঠিন কাজে হাত দিয়েছে তাকে জন্মদিনের শুভেচ্ছা জানাবার সুযোগ হাতছাড়া করতে পারি না, তাছাড়া তোর যে বিশেষ গুরুত্ব আছে তা সহজেই অনুমেয়। 6 তারিখের পর আবার ৯ তারিখে “Bockscar” উড়ে যায়, সাথে নিয়ে যায় “Fat Man” কে, ছয় তারিখ আর নয় তারিখ মিলিয়ে জাপানের নয়-ছয় হয়ে যায়, যাদের জন্ম এই দুই তারিখে হয়েছে ঈশ্বর তাদের সৃষ্টি করেছে সেই নয়-ছয় হয়ে যাওয়া পৃথিবীকে সুন্দর করে গঠণ করার জন্য, যুদ্ধের দামামা বন্ধ করে “Happy Birthday to you…...” সুরে মাতিয়ে তুলতে। ঈশ্বর ভারসাম্য বজায় রাখার সম্পূর্ণ বজায় রাখে। তোর জন্মদিন সব ফেলে আসা বেদনাকে দুর করে আনন্দের বার্তা নিয়ে আসবে। ভালো থাকিস আনন্দে থাকিস। শুভ জন্মদিন!
                                </p>
                            </div>
                        </div>
                    </div>
                   
                    
                   
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section><!-- End Why Us Section -->
