<section id="wishes" class="why-us">
    <div class="container" data-aos="fade-up">

        <div class="row">
            
            <div class="col-lg-12 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch">
                           
                            <div class="icon-box mt-4 mt-xl-0">
                                <a href="https://www.facebook.com/ritaja.ghosh.1" target="_blank" class="more-btn"> 
                                    <div  class="avatar" [ngStyle]="{'background-image': 'url(' + avatar.ritja + ')','background-size': 'cover'}"></div>
                                </a>
                                <h4 style="padding-top: 50px;">Ritaja</h4>
                                <p>
                                    Happiest Birthday my girl...loads and loads of love to you I wish all the happiness,good health and success in the coming year and always
                                    Tor jibon Positivity te vore uthuk onekk valo thak r mentally independent ho sob somoy Ritaja Ritaja Kore amar mathata kom kha sokto hate mathat
                                    thanda kore jiboner sobkichuk nie egie ja r ami tor bondhu chilam r thakbo sarajibon kokhuno vabbina Ritaja tok e vule gche ba dure chole gche somoy
                                    o poristhite onek kichu change hoy kintu bondhutto atut thake janbi jibone prittekta manuser jonno alada alada jayga kora thake keu karor jayga nite
                                    pare na tai kokhuno esob vbbi na disappointed hobi na khub khub anonde thak valo thak  nije valo thak sobbaik valo rakh r jiboner prottekta di anonde nijer jonne
                                    nijer moto kore kata always love you muaaaaaaa
                                </p>
                            </div>
                           
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                           
                            <div class="icon-box mt-4 mt-xl-0">
                                <a href="https://www.facebook.com/mou.podder.9231" target="_blank" class="more-btn"> 
                                    <div  class="avatar" [ngStyle]="{'background-image': 'url(' + avatar.mou + ')','background-size': 'cover'}"></div>
                                </a>
                                <h4 style="padding-top: 50px;">Moudi</h4>
                                <p>
                                   Happy Birthday suchismita....Many Many happy returns of the day valo thakis
                                </p>
                            </div>
                           
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <a href="https://www.facebook.com/anirban.roy.31924792" target="_blank" class="more-btn"></a>
                                <h4 style="padding-top: 50px;">Anirban</h4>
                                <p>
                                    Happy birthday to my crazy,fun,fabulous best friend!I love you to
                                    the moon and back and am so greatful for your friendship and all 
                                    fun times We've shared this year.I hope you have a great day!
                                </p>
                            </div>
                        </div>
                       
                        
                    </div>
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                 <a href="https://www.facebook.com/rumila.dey.75" target="_blank" class="more-btn"> </a>
                                <h4 style="padding-top: 50px;">Rumila</h4>
                                <p>
                                    Happy birthday suchismita..❤❤❤ ...খুব ভালো থাকিস..কোন সমস্যা হলে আছি, কোন চাপ নিবি না সেই নিয়ে..অনেক অনেক বড়ো হ ...বিয়ে কর তাড়াতাড়ি, আমরা মজা করে খাই...Many many happy returns of the day ❤❤❤❤😍 ...
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                 <a href="https://www.facebook.com/rumila.dey.75" target="_blank" class="more-btn"> </a>
                                <h4 style="padding-top: 50px;">Salini</h4>
                                <p>
                                    Happy Birthday Suchismita Vai❤️🥳🍰... StaySafe_StayBlessed😇.. Always Arkm E Thakis Hasi Khusi.. Onek Din Dekha Hyna Tai Amdr Opore Khichkate o Par6is Na Ami Bujhte Par6i Bondhu🤣... No Chap Amdr Abr Dekha Hbe Tr Sai Pochonder Gan Ta Amra Abr Gaibo(Ami 16 Pereye Ga6i🤣🤭)... Trt Nia Ki R Blbo ChupChap Trt Ta Dia Dis.. 
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                 <a href="https://www.facebook.com/rumila.dey.75" target="_blank" class="more-btn"> </a>
                                <h4 style="padding-top: 50px;">Ahana</h4>
                                <p>
                                    Hey
                                    Darling Its your special  day 💕  happy birthday 🎂🍫🎊many many happy returns of the day ❤️🎉🎊. I wish  you love, hope ,everlasting joy and happiness. Enjoy your day 💃. May all your dreams come true ✨ stay safe 😷and god bless u 😘
                                    Khub khub  valo thak  ❤️enjoy kor ☺️🤘 ar treat ta  🤨again happy birthday suchismita 😘
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <a href="https://www.facebook.com/rumila.dey.75" target="_blank" class="more-btn"> </a>
                                <h4 style="padding-top: 50px;">Ahana</h4>
                                <iframe height="315" [src]='safeURL' frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>

                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section><!-- End Why Us Section -->
