<!-- ======= Trainers Section ======= -->
<section id="trainers" class="trainers">
    <div class="container pt-2" data-aos="fade-up">
        <!-- row 1 -->
        <div class="row" >
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-right" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/images/bday/s85.jpeg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4> cherish memory of childhood birthday </h4>
                        <span></span>
                        <!-- <p>
                          Web Developper, Efficient in differrent programming languages
                        </p> -->
                      
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up-right" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/images/bday/suchi70.jpeg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>same same</h4>
                        <span></span>
                        <!-- <p>

                        </p> -->
                       
                    </div>
                </div>
            </div>
            <!-- picture_start -->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/images/bday/suchi8.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>partner for all times</h4>
                        <span></span>
                        <!-- <p>
                          Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                        </p> -->
                      
                    </div>
                </div>
            </div>
            <!-- picture_end -->

        </div>
        <!-- row 2 -->
        <div class="row" >
                <!-- picture_start -->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/images/bday/suchi25.jpeg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>beautiful bonding</h4>
                        <span></span>
                        <!-- <p>
                            Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                        </p> -->
                        
                    </div>
                </div>
            </div>
            <!-- picture_end -->
                <!-- picture_start -->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/images/bday/suchi60.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>Another year to celebrate to the amazing journey kakima</h4>
                        <span></span>
                        <!-- <p>
                            Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                        </p> -->
                        
                    </div>
                </div>
            </div>
            <!-- picture_end -->
                <!-- picture_start -->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/images/bday/suchi76.jpeg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>gang of cazy</h4>
                        <span></span>
                        <!-- <p>
                            Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                        </p> -->
                        
                    </div>
                </div>
            </div>
            <!-- picture_end -->
        </div>
        <!-- row 3 -->
        <div class="row" >
       <!-- picture_start -->

       <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
          <div class="member">
              <img src="assets/images/bday/suchi23.jpeg" class="img-fluid" alt="">
              <div class="member-content">
                  <h4>beautiful bonding</h4>
                  <span></span>
                  <!-- <p>
                    Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                  </p> -->
                
              </div>
          </div>
      </div>
      <!-- picture_end -->
       <!-- picture_start -->

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
          <div class="member">
              <img src="assets/images/bday/suchi20.jpeg" class="img-fluid" alt="">
              <div class="member-content">
                  <h4>“As you’re growing up and you’re close, you can’t trust anyone the way you trust your sister, but also they have the power to wound you in ways no one else really does.”
                    —Ally Condie</h4>
                  <span></span>
                  <!-- <p>
                    Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                  </p> -->
                
              </div>
          </div>
      </div>
      <!-- picture_end -->
         <!-- picture_start -->

         <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
          <div class="member">
              <img src="assets/images/bday/suchi22.jpeg" class="img-fluid" alt="">
              <div class="member-content">
                  <h4> “Sisters make the best friends in the world.”
                    —Marilyn Monroe</h4>
                  <span></span>
                  <!-- <p>
                    Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                  </p> -->
                
              </div>
          </div>
      </div>
      <!-- picture_end -->
        </div>
        <!-- row 4 -->
        <div class="row" >
            <!-- picture_start -->
     
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi45.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>with two mother</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
            <!-- picture_start -->
     
           <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi28.jpeg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>love</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
              <!-- picture_start -->
     
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi59.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>generation</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
        </div>
         <!-- row 5 -->
         <div class="row" >
            <!-- picture_start -->
     
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi14.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>moment</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
            <!-- picture_start -->
     
           <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi32.jpeg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>moment</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
              <!-- picture_start -->
     
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi62.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>moment</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
        </div>
        <!-- row 6 -->
        <div class="row" >
            <!-- picture_start -->
     
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi31.jpeg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>moment</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
            <!-- picture_start -->
     
           <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi48.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>moment</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
              <!-- picture_start -->
     
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi24.jpeg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>moment</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
        </div>
        <!-- row 7 -->
        <div class="row" >
            <!-- picture_start -->
     
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi41.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>"It's called a twinning moment.</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
            <!-- picture_start -->
     
           <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi42.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>"Felt cute, so we decided to wear the same thing."</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
              <!-- picture_start -->
     
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi43.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>"No contest, we wore it better."</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
        </div>
        <!-- row 8 -->
        <div class="row" >
            <!-- picture_start -->
     
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi4.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>"Fashions fade, style is eternal." —Yves Saint Laurent</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
            <!-- picture_start -->
     
           <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/s88.jpeg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>A garden of love grows in a grandmother's heart</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
              <!-- picture_start -->
     
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi73.jpeg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4> “Peace begins with a smile.” — Mother Teresa</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
        </div>
        <!-- row 9 -->
        <div class="row" >
            <!-- picture_start -->
     
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi77.jpeg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>moment</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
            <!-- picture_start -->
     
           <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi65.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>moment</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
              <!-- picture_start -->
     
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi79.jpeg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4> moment</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
        </div>
        <!-- row10 -->
        <div class="row" >
            <!-- picture_start -->
     
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi6.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>moment</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
            <!-- picture_start -->
     
           <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/s89.jpeg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>
                        “Childhood memories were like airplane luggage; no matter how far you were traveling or how long you needed them to last, you were only ever allowed two bags. And while those bags might hold a few hazy recollections—a diner with a jukebox at the table, being pushed on a swing set, the way it felt to be picked up and spun around—it didn’t seem enough to last a whole lifetime.”
                        ― Jennifer E. Smith, This Is What Happy Looks Like</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
              <!-- picture_start -->
     
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi63.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4> Little girls are the nicest things that happen to people. They are born with a little bit of angelshine about them, and though it wears thin sometimes there is always enough left to lasso your heart.” – Alan Beck</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
        </div>
        <!-- row11 -->
        <div class="row" >
            <!-- picture_start -->
     
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/s83.jpeg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>moment</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
            <!-- picture_start -->
     
           <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi27.jpeg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>moment</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
              <!-- picture_start -->
     
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi72.jpeg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4> moment</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
        </div>
        <div class="row" >
            <!-- picture_start -->
     
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi44.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>moment</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
            <!-- picture_start -->
     
           <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi56.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>moment</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
              <!-- picture_start -->
     
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi38.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4> moment</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
        </div>
        <div class="row" >
            <!-- picture_start -->
     
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/s86.jpeg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>‘Play is often talked about as if it were a relief from serious learning. But for children play is serious learning. Play is really the work of childhood.’ – Fred Rogers</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
            <!-- picture_start -->
     
           <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi18.jpeg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>“Peace comes from within. Do not seek it without.”</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
              <!-- picture_start -->
     
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi34.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>moment</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           
           <!-- picture_end -->
        </div>
        <!-- row -->
        <div class="row" >
            <!-- picture_start -->
     
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/s90.jpeg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>“We grow up but we never grow old because we are tied to the beautiful memories of our past, especially our childhood.
                        Never loose the child in you.
                        For me, having a heart of a child is still beautiful.
                        It makes me feel alive.”
                        ― Verliza Gajeles</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
            <!-- picture_start -->
     
           <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/s91.jpeg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>moment</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
              <!-- picture_start -->
     
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/s92.jpeg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4> ‘Childhood is not a race to see how quickly a child can excel academically. Childhood is a small window of time to play, build friendships, and have fun while learning along the way.’</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           
           <!-- picture_end -->
        </div>
        <!-- row -->
        <div class="row" >
            <!-- picture_start -->
     
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi67.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>“To fall in love with yourself is the first secret to happiness.”-Robert Morley</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
            <!-- picture_start -->
     
           <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi52.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>moment</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
              <!-- picture_start -->
     
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi40.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>moment</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           
           <!-- picture_end -->
        </div>
        <!-- row -->
        
        <div class="row" >
            <!-- picture_start -->
     
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi57.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>"Happiness is not the absence of problems, it’s the ability to deal with them."

                        Steve Maraboli</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
            <!-- picture_start -->
     
           <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchiyt.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>“ Because of your smile, you make life more beautiful.” ​– Thich Nhat Hanh.</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
              <!-- picture_start -->
     
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi49.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>moment</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           
           <!-- picture_end -->
        </div>
        <div class="row" >
            <!-- picture_start -->
     
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi7k.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4> “A beautiful heart shine brighter than a beautiful face”

                        Steve Maraboli</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
            <!-- picture_start -->
     
           <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/su10.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>“Never be in a hurry; do everything quietly and in a calm spirit. Do not lose your inner peace for anything whatsoever, even if your whole world seems upset.” —Saint Francis de Sales</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           <!-- picture_end -->
              <!-- picture_start -->
     
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
               <div class="member">
                   <img src="assets/images/bday/suchi6r.jpg" class="img-fluid" alt="">
                   <div class="member-content">
                       <h4>I believe that this neglected, wounded, inner child of the past is the major source of human misery.
                        -John Bradshaw</h4>
                       <span></span>
                       <!-- <p>
                         Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                       </p> -->
                     
                   </div>
               </div>
           </div>
           
           <!-- picture_end -->
        </div>
        

    </div>
    
    
      

       

   
       
       
</section><!-- End Trainers Section -->
