<!-- ======= Trainers Section ======= -->
<section id="trainers" class="trainers">
    <div class="container pt-2" data-aos="fade-up">
        <div class="row" >
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-right" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/images/bday/s85.jpeg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4> Happiest memory of childhood birthday </h4>
                        <span></span>
                        <!-- <p>
                          Web Developper, Efficient in differrent programming languages
                        </p> -->
                      
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up-right" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/images/bday/suchi70.jpeg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>same same</h4>
                        <span></span>
                        <!-- <p>

                        </p> -->
                       
                    </div>
                </div>
            </div>
            <!-- picture_start -->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/images/bday/suchi8.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>partner for all times</h4>
                        <span></span>
                        <!-- <p>
                          Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                        </p> -->
                      
                    </div>
                </div>
            </div>
            <!-- picture_end -->

        </div>
        

    </div>
    <!-- row 2 -->
    <div class="row" >
         <!-- picture_start -->

         <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
            <div class="member">
                <img src="assets/images/bday/suchi25.jpeg" class="img-fluid" alt="">
                <div class="member-content">
                    <h4>beautiful bonding</h4>
                    <span></span>
                    <!-- <p>
                      Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p> -->
                  
                </div>
            </div>
        </div>
        <!-- picture_end -->
         <!-- picture_start -->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
            <div class="member">
                <img src="assets/images/bday/suchi60.jpg" class="img-fluid" alt="">
                <div class="member-content">
                    <h4>Another year to celebrate to the amazing journey kakima</h4>
                    <span></span>
                    <!-- <p>
                      Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p> -->
                  
                </div>
            </div>
        </div>
        <!-- picture_end -->
           <!-- picture_start -->

           <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
            <div class="member">
                <img src="assets/images/bday/suchi76.jpeg" class="img-fluid" alt="">
                <div class="member-content">
                    <h4>gang of cazy</h4>
                    <span></span>
                    <!-- <p>
                      Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p> -->
                  
                </div>
            </div>
        </div>
        <!-- picture_end -->
    </div>
    
      

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
           <div class="member">
               <img src="assets/images/bday/suchi67.jpg" class="img-fluid" alt="">
               <div class="member-content">
                   <h4>love</h4>
                   <span></span>
                   <!-- <p>
                     Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                   </p> -->
                 
               </div>
           </div>
       </div>
       <!-- picture_end -->
</section><!-- End Trainers Section -->
